run = "cd backend && uvicorn main:app --host 0.0.0.0 --port 9000 --reload & cd frontend && npm run dev -- --host 0.0.0.0 --port 5173"
modules = ["nodejs-20", "python-3.11"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "server"
build = ["npm run build"]
publicDir = "dist"

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true

[[ports]]
localPort = 9000
externalPort = 9000

[workflows]

[[workflows.workflow]]
name = "Backend & Frontend"
author = 2231033
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && uvicorn main:app --host 0.0.0.0 --port 9000 --reload"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev -- --host 0.0.0.0 --port 5173"
