run = "npm run dev"
modules = ["nodejs-20", "python-3.11"]
hidden = [".config", "package-lock.json"]
entrypoint = "index.html"

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true

[workflows]

[[workflows.workflow]]
name = "Backend"
author = 2231033

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && uvicorn main:app --host 0.0.0.0 --port 8000"
